<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="javascript:void(0);" routerLink="/">Waste-zero</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="showMenuItems()">
        <li class="nav-item"><a routerLink="/dashboard" class="nav-link">Dashboard</a></li>
        <li class="nav-item"><a routerLink="/profile" class="nav-link">My Profile</a></li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0);" (click)="logout()">Logout</a>
        </li>
      </ng-container>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="!auth.isAuthenticated()">
        <a routerLink="/register" class="nav-link">Register</a>
      </li>
      <li class="nav-item" *ngIf="!auth.isAuthenticated()">
        <a routerLink="/login" class="nav-link">Login</a>
      </li>
    </ul>
  </div>
</nav>