.full-width {
  width: 100%;
  margin-top: 1rem;
}

button {
  margin-top: 1rem;
  background-color: #00a651 !important; /* Green */
  color: white !important;
}

.extra-links {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.extra-links a {
  font-size: 0.85rem;
  color: #00a651;
  text-decoration: none;
}
